@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.body{
    font-family: "Montserrat", serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Header styles */
.main-header {
    background-color: #ffffff;
    padding: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ajoute une ombre pour un effet de profondeur */
}

.navbar {
    background-color: #ffffff !important;
    padding: 0 20px;
}

.navbar .logo {
    width: 120px;
    height: auto;
}

.header-left {
    flex: 1;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.header-left p {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.navbar-nav .nav-item {
    margin-left: 20px;
}

.navbar-nav .nav-link {
    font-size: 18px;
    color: #333;
    padding: 10px 15px;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #0056b3;
    text-decoration: underline; /* Ajoute une sous-ligne lors du survol */
}

.navbar-brand img {
    border-radius: 8px; /* Ajouter des bords arrondis à l'image du logo */
}


/* Hero section */
.hero {
    position: relative;
    color: white; /* Le texte sera en blanc pour contraster avec l'image de fond */
    padding: 60px 20px;
    text-align: center;
    height: 100vh; /* Prend toute la hauteur de la fenêtre */
    background-image: url("image.png");
    background-position: center center; /* Centrer l'image */
    background-size: cover; /* Couvre toute la section */
    background-repeat: no-repeat; /* Eviter la répétition de l'image */
    border-radius: 15px; /* Ajouter des bords arrondis */
    overflow: hidden; /* Empêcher le débordement de l'image */
}

.hero h2, .hero h3 {
    font-size: 2.5em;
    margin: 10px 0;
    z-index: 1; /* S'assure que le texte reste visible par-dessus l'image */
    position: relative; /* Position relative pour un ajustement précis */
    top: -20px; /* Déplace le texte vers le haut */
}

/* Presentation section */
.presentation {
    background-color: #ffffff;
    padding: 50px 0;
}

.presentation-content {
    flex: 1;
    padding-right: 20px;
}

.presentation-logo img {
    max-width: 500px; /* Taille de l'image */
    height: auto;
    flex: 0.4;
}

/* Footer styles */
footer {
    background-color: #f8f9fa;
    padding: 20px 0;
}

.footer-social {
    margin-bottom: 10px;
}

.footer-social-icon {
    width: 30px;
    height: auto;
}

.footer-text {
    font-size: 14px;
    color: #777;
}

.footer-text a {
    text-decoration: none;
    color: #007bff;
}

.footer-text a:hover {
    text-decoration: underline;
}
